body, html {
    margin: 0 auto;
    height: 100%;
}

.wrapper{
}

.section-header{
    width:100%;
    height: 100vh;
}

.container-flex-column{
    display: flex;
    flex-direction: column;
}

.container-flex-row{
    display: flex;
    flex-direction: row;

}

.main-header{
    width:100%;
    height: 10vh;
}

.main-header-centering{
    width: 60%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


