@import "variables";
@import "fonts";

body, html {
  margin: 0 auto;
  height: 100%;
}

.wrapper{
}

.section-header{
  width: 100%;
  height: 100vh;
}

.header-img{
  position:absolute;
  z-index: -3;
  width:100%;
  height: 100%;
}

.background-gradient{
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.container-flex-column{
  display: flex;
  flex-direction: column;
}

.container-flex-row{
  display: flex;
  flex-direction: row;

}

.main-header{
  width:100%;
  height: 10vh;
}

.main-width{
  width:60%;
  margin: auto;
}

.main-header-centering{
  width: 60%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-navigation{
  width:60%;
  height: 100%;

}

ul {
  list-style: none;
  padding: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.navigation-link{
  width: 100%;
  height: 100%;
  li{
    margin-right:4%;
  }
}

a{
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}

a:hover{
  text-decoration: none;
  color: $main-color-theme;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}

.header-content{
  height: 90%;
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
  }
}

.slider{
  margin-top:5em;
  li{
    margin-left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
  }
  li:nth-child(1){
    margin-left: 0;
  }
  li:hover{
    background-color: #00e0d0;
  }
}

h2{
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

h2:after{
  content: url("../img/h1-bottom-line.png");
  display: block;
}

h3{
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h4{
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "W, ATCH OU" */
  letter-spacing: 0.8px;
}

h5{
  position: relative;
  color: #413d4b;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "W, EB DESI" */
  letter-spacing: 0.7px;
}

h6{
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "O, UR STUD" */
  letter-spacing: 0.75px;
}

.black-text{
  color: black;
}

.white-text{
  color:white;
}

.button{
  background: none;
  width: 120px;
  height: 40px;
  border: 1px solid $main-color-theme;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/*end of main header*/

.our-story{
  width:100%;
  min-height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  align-content: center;
  justify-content: center;

  p{
    opacity: 0.75;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
  }
  button{
    margin-top:2em;
  }
}

.story{
  justify-content: space-between;
}

.prism{
  width:30%;
}

.story-about{
  width: 60%;
}

/* end of our-story*/

.story-video{
  width:100%;
  height:100vh;
}

.video-img{
  height: 100%;
  width:100%;
  position: absolute;
  z-index: -3;
}

.video-gradient{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  position: absolute;
  z-index: -2;
}



.video{
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.video-button{
  background: transparent;
  border: none;
}

.expertise{
  width:100%;
  min-height:100vh;
}

.separator:after {
  content: url("../img/separator.png");
  display: block;
  position: absolute;
  left:48.3%;
}

.expertise-centering{
  align-items: center;
  align-content: center;
  justify-content: center;
  height:100%;
  p{
    opacity: 0.75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 1.05px;
    margin: auto;
  }

  ul{
    margin-top: 4em;
    width:100%;
    height:430px;
    display: flex;
    flex-wrap: wrap;
    li:nth-child(3n){
      border-right: none;
    }
    li:nth-child(n+4){
      border-top: 1px solid #ebebeb;
    }

    li{
      text-align: center;
      width:30%;
      height:50%;
      padding-top: 3em;
      border-right: 1px solid #ebebeb;
      p{
        width:90%;
        opacity: 0.75;
        color: #333333;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.7px;
      }


    }
  }
}

.display:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/display.png");
}

.pencil:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/pancil.png");
}

.mobile:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/mobile.png");
}

.optimization:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/optimization.png");
}

.game:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/game.png");
}

.hurt:before{
  display: block;
  position: relative;
  right: 0.5em;
  bottom: 2em;
  content: url("../img/hurt.png");
}





/*end of expertise*/

.our-team{
  width:100%;
  height: 100vh;
}

.team-img{
  position: absolute;
  z-index: -3;
  width:100%;
  height: 100%;
}

.team-bg{
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}

.our-team-centering{
  height:100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  p{
    color: #f9f9f9;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 1.05px;
  }
  button{
    width:131px;
    margin-top: 2em;
  }
  h4{
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "MEET OUR A" */
    letter-spacing: 1.1px;
  }
}

.our-worker{
  width:100%;
  height:40%;
  justify-content: space-between;
  li{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

      .worker-photo{
      width:90%;
      height: 70%;
      background: white;
      }
      .worker-info{
        width:89%;
        height: 30%;
        border: solid white 1px;

      }
      .name{
      color: #ffffff;
      font-family: "Roboto - Black";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      /* Text style for "S, EMF UCU" */
      letter-spacing: 0.7px;
        text-align: center;
      }
      .work{
      opacity: 0.7;
      color: #fafafa;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
      text-transform: uppercase;
        text-align: center;
    }
  }
}

/*end of our workers*/

.our-works{
  width:100%;
  height: 100vh;
}

.header-works-centering{
  height: 25%;
  width:60%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  h4{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "O, UR WORK" */
    letter-spacing: 1.1px;
  }
    a{
      color: #413d4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      /* Text style for "See All Pr" */
      letter-spacing: 0.7px;
    }
  }

.squares{
  width:100%;
  height: 50%;
  ul{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
      width:16.53%;
      height: 50%;
      border: solid black 1px;
      background: #413d4b;
    }
  }
}

.footer-works-centering{
  width:100%;
  height: 25%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*end of our works*/

.comments{
  width:100%;
  height: 100vh;
}

.comments-bg{
  width:100%;
  height: 100%;
  position: absolute;
  z-index: -4;
}

.comment-article{
  height:100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.comment{
  height:200px;
  opacity: 0.85;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* Text style for "T, his is" */
  letter-spacing: 0.4px;
  text-align: center;
}

.comment:before{
  position: relative;
  content: url("../img/-.png");
  display:block;
  bottom:3em;
}

.commentator{
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.comment-signature{
  width: 102px;
  height: 9px;
  opacity: 0.7;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

.comment-photos{
  margin-top: 5em;
  align-items: center;
  align-content: center;
}

.right-arrow{
  background: none;
  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  border: none;
  width: 11px;
  height: 21px;
  margin-left: 4em;
}

.left-arrow{
  background: none;
  background-image: url("../img/left-arrow.png");
  background-repeat: no-repeat;
  border: none;
  width: 11px;
  height: 21px;
  margin-right: 4em;
}

/*end of comments*/

.form-and-clients{
  width:100%;
  height: 100vh;
}

.form-and-clients-centering{
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.form{
  width:48%;
  height: 80%;
  h4{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "G, IVE US" */
    letter-spacing: 1.1px;
  }
  ul{
    width:100%;
    height: 100%;
    justify-content: space-between;
    li{
      width:100%;
      input{
        width: 100%;
        height: 45px;
        border: 1px solid #000000;
        opacity: 0.3;
        padding: 6px 0 6px 12px;
      }
      textarea{
        width: 100%;
        height:200px;
        background-color: #ffffff;
        border: 1px solid #000000;
        opacity: 0.3;
        resize: none;
        padding: 6px 0 6px 12px;
      }
    }
  }
}

.clients{
  width:40%;
  height: 80%;
  h4{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "O, UR HAPP" */
    letter-spacing: 1.1px;
  }
}

.clients-logo{
  width:100%;
  height: 95%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  li{
    display: flex;
    align-content: center;
    align-items: center;
  width:45%;
  height:18%;
  }
}

/*end of form*/

.main-footer{
  width:100%;
  height: 400px;
}

.main-footer-centering{
  height:300px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.footer-img{
  width:100%;
  height:400px;
  position: absolute;
  z-index:-3;
}

.footer-gradient{
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}

.footer-header{
  width: 100%;
  height:100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .footer-logo {
    width: 30%;
    height: 100%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
  }
  h6{
    width: 30%;
    height: 11px;
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "O, UR STUD" */
    letter-spacing: 0.75px;
  }
}

.footer-info{
  width:30%;
}

.footer-contact{
  width:30%;
}

.social{
  width:30%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  input{
    width: 211px;
    height: 35px;
    border: 1px solid #ffffff;
    background: none;
    padding: 6px 0 6px 12px;
  }
  button{
    width: 70px;
    height: 45px;
    margin-left: 1em;
    border: 1px solid #ffffff;
    opacity: 0.5;
    background: #a199b4 url(../img/paper122.png) 22px 10px no-repeat;
  }
}

.info-contact-social{
  justify-content: space-between;
  p{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.35px;
  }
}



.ruko:before{
  content: url("../img/ruko.png");
}

.phone:before{
  content: url("../img/phone.png");
}
.social-links{
  width: 100%;
  justify-content: space-between;
  li{
    width:16%;
  }
}

.footer-footer{
  justify-content: space-between;
  align-items: center;
  align-content: center;
  p{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
  }
}

.footer-links{
  width:30%;
  height: 10px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "H, ELP" */
  letter-spacing: 0.35px;
  justify-content: space-between;
}
